<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('.form');
        const output = document.querySelector('.output');
        let timeout = null;

        form.querySelector('textarea').addEventListener('input', function() {
            clearTimeout(timeout);

            timeout = setTimeout(function() {
                fetch('/translation_auto', {
                    method: 'POST',
                    body: new FormData(form),
                })
                .then(response => response.json())
                .then(data => {
                    output.value = data.translation;
                });
            }, 1000);
        });
    });
    </script>
</head>
<body>
    <div class="main-container">
        <div class="zone">
            <form class="form" method="POST">
                <textarea class="input" name="input-text" rows="10" cols="50">{{ input_text }}</textarea>
            </form>
        </div>
        <div class="zone">
            <form action="/correction" class="form" method="POST">
                <textarea class="output" name="translation" rows="10" cols="50">{{ translation }}</textarea>
                <textarea class="self-writing" name="self-translation" rows="10" cols="50">{{ self_translation }}</textarea>
                <button class="post-button" type="submit">correction</button>
            </form>
        </div>
    </div>
    <div class="main-container">
        <div class="zone">
            <textarea class="correction" readonly>{{ correction }}</textarea>
        </div>
    </div>
</body>
</html>
